* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0F1B4C;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background: #0F1B4C;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #FFFFFF;
}

.btn:hover {
    opacity: 0.8;
}

/* Xuống dòng nếu quá dài(slip cut) */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header */
.header {
    position: relative;
    height: 100vh;
    background: #E6F0FF;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    padding: 8px 14px;
    font-weight: 500;
    font-size: 1.4rem;    
    color: var(--primary-color);
}


.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.19;
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    color: #5A6473;
}

.hero .btn {
    margin-top: 40px;
    font-weight: 500;
    font-size: 1.3rem;
    color: #FFFFFF;
}

.hero-cta {
    min-width: 170px;
}

.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* Clients */
.clients {
    margin-top: 79px;
    padding: 43px 0 64px 0;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7D8589;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Guides */
.guides {
    padding: 93px 0 79px 0;
    margin-top: 40px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guides .sub-title::before {
    position: absolute;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    left: 50%;
    top: -10px;
    background: #000339;
    border-radius: 12px;
    transform: translateX(-50%);
}

.guides .desc {
    margin: 20px auto;
    font-weight: 400;
    width: 459px;
    max-width: 100%;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5A6473;
}

.list-guides {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.list-guides .guide-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 70px;
}

.list-guides .guide-item .icon {
    width: 47.99px;
    height: 48px;
}

.list-guides .guide-item .title {
    margin-top: 23.6px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    text-align: center;
    color: #3B3C45;
}

.list-guides .guide-item .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 21px;
    text-align: center;
    color: #0689FF;
}

.list-guides .guide-item .arrow {
    margin-left: 3px;
}

.guides-btn {
    margin: 50px 470px 0;
    padding: 16px 24px;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

/* Feature */
.feature {
    margin-top: 41px;
    padding: 110px 0;
    background-color: #E6F0FF;
    padding-bottom: 110px;
}

.feature .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.feature .row {
    display: flex;
    justify-content: space-between;
}

.feature .row .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    display: flex;
    align-items: flex-end;
    color: #5A6473;
}

.feature .row .link {
    font-weight: 600;
    font-size: 1.8rem;
    display: flex;
    align-items: flex-end;
    align-items: center;
    color: #0689FF;
}

.feature .link .arrow {
    margin-left: 8px;
}

.list-feature {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.feature-item {
    width: 350px;
}

.list-feature .body {
    position: relative;
    top: -2px;
    background-color: #fff;
    padding: 17px 38px 22px 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.feature-item .title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #000339;
}

.feature-item .desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 21px;
    text-align: center;
    color: #A3A6AB;
    word-break: break-all; /* Xuống dòng nếu là link quá dài */
}

.feature-item .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 21px;
}


/* Stats */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1017px;
}

.stats .row {
    display: flex;
}

.stats .img-block {
    position: relative;
    width: 51%;
}

.stats .img-block .image {
    position: relative;
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-right: 23px;
    margin-left: 165px;
}

.stats .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}

.stats .sub-title::before {
    position: absolute;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    left: 0;
    top: -10px;
    background: #000339;
    border-radius: 12px;
}

.stats .desc {
    width: 309px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5A6473;
}

.stats .stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    padding: 45px 22.89px 40.49px 22px;
    background-color: #fff;
    border-bottom-right-radius: 12px;
    box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
}

.stats-trend .row {
    display: flex;
    justify-content: space-between;
}

.stats-trend .img {
    width: 25px;
    height: 16px;
}

.stats .value {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats-trend .desc {
    display: block;
    width: 194px;
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #A7A7A7;
}

.stats-trend .separate {
    height: 1.2px;
    margin-top: 25.51px;
    background: #E9E9E9;
}

.stats-trend .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px; /* Cách trên cách dưới */
    margin-top: 26px;
}

.stats-trend .avatar-group {
    display: flex;
}

.stats-trend .avatar {
    width: 16.34px;
    height: 16.34px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -3px;
}

.stats-trend .avatar:first-child {
    margin-left: 0;
}

.stats-trend .no-avatar {
    background: var(--bg-color, #fff);
    font-weight: 450;
    font-size: 0.8rem;
    line-height: 16.34px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.stats .qty-block {
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
}

.stats .qty-item {
    margin-top: 110px;
}

.stats .qty {
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 1;
    color: #000000;
}

.stats .qty-desc {
    margin-top: 22px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #7B8087;
}

/* Subscription */
.subscription {
    margin-top: 90px;
}

.subscription .body {
    position: relative;
    display: flex;
    background-color: #063183;
    border-radius: 12px;
}

.subscription .info {
    margin: 110px 90px 110px 80px;
}

.subscription .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color:#FFFFFF;
}

.subscription .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #FFFFFF;
    opacity: 0.75;
}

.subscription .btn {
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color: #002366;
    background-color: #fff;
    width: 151px;
    height: 50px;
}

.subscription .image {
    position: absolute;
    top: -38px;
    right: 221px;
}

/* Footer */
.footer {
    margin-top: 55px;
    padding-top: 50px;
    padding-bottom: 58px;
}

.footer .row {
    display: flex;
}

.footer .row:first-child {
    display: flex;
    justify-content: space-between;
}

.footer .row:last-child {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 63px;
}

.footer .heading {
    font-weight: 600;
    font-size: 2rem;
    color: #1C1C1D;
}

.footer .list {
    margin-top: 42px;
}

.footer .list:last-child {
    width: 257px;
}

.footer .item {
    display: inline-block;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    color: #7A7A7E;
    margin-bottom: 18px;
}

.footer .list-socials {
    display: flex;
    margin-top: 20px;
}

.footer .social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28.5px;
    height: 28.5px;
    background-color:#F9F9F9;
    margin-right: 16px;
}

.footer .copyright {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 21px;
    color: #C2C2C2;
}

/* .footer .list:last-child li {
    margin-top: 40px;
} */
/* .footer .item:last-child {
    display: inline-block;
    margin-bottom: 0;
} */